/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* PC用ナビゲーション非表示 */
  /* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
  }

 

 

  /* ハンバーガーメニュー  */
  .header-ss {
    display: flex;
    /* position: absolute; */
    left: 0;
    top: 0;
  }
#menu-sp {
  /* display: visible; */
    margin-left: 35%;
    }

  /* スマホ用ナビゲーションの表示切替*/
  /* 初期状態、レイアウトと非表示設定 */
  #nav-sp {
    background-color: #2710d5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
  }

  /* ナビゲーションメニュー用ロゴ */
  #logo-sp {
    margin: 80px 0 30px 20px;
  }

  /* ナビゲーションのリンクの装飾設定 */
  #nav-sp>a {
    display: block;
  }

  #nav-sp>a:link {
    color: #ffffff;
  }

  #nav-sp>a:visited {
    color: #ffffff;
  }

  #nav-sp>a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  #nav-sp>a:active {
    color: #ffffff;
  }

  #nav-sp>.menu {
    text-decoration: none;
    display: block;
    margin: 0 20px 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 30px;
  }

  /* .section {
    padding: 60px 0;
  } */

  /* .container {
    display: none;
  } */

  /* .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header {
    display: none;
  }



  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 40vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }

  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    top: 75%;
    font-size: 14px;
    line-height: 1.7;
  }

  /* Works */
  .list {
    display: flex;
  }
  
  .list-text {
    margin-bottom: 20px;
  }
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-list {
    display: block;
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .techne {
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
  }

  .tetext {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .explanation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonT {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }

  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  .contForm1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}